/*Import used scss files here
place all of them in this directory 'src/styles/'
example:
@import 'fonts.scss';*/
@import 'forms.scss';
@import 'variables.scss';
@import 'lists.scss';
@import 'tables.scss';
@import 'containers.scss';
@import 'buttons.scss';
@import 'logo.scss';

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

//////////////////////////////////////////////////////////////
// MOBILE
//////////////////////////////////////////////////////////////

@media screen and (max-width: 799px) {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 2vw 0;    
  }
}

//////////////////////////////////////////////////////////////
// DESKTOP
//////////////////////////////////////////////////////////////

@media screen and (min-width: 800px) {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px 0;
  }

  h1 {
    font-size: 30px;
    span, div {
      font-size: 30px;
    }
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 19px;
  }
  h6 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  span {
    font-size: 14px;
  }
  div {
    font-size: 14px;
  }
  label {
    font-size: 14px;
  }
  th {
    font-size: 14px;
  }
  td {
    font-size: 14px;
  }
  a, button {
    font-size: 14px;
  }
  input, textarea, select {
    font-size: 14px;
  }
  small {
    font-size: 13px;
  }

}

//////////////////////////////////////////////////////////////
// ALL
//////////////////////////////////////////////////////////////

button, a, select, textarea, body, input {
  font-family: 'Raleway', sans-serif;
}

button, a {
  outline-style: none;
}

body {
  padding: 0;
  margin: 0;
  background: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-dark;
  font-weight: 400;
}
p {
  color: $text-dark;
  font-weight: 400;
}
th {
  font-weight: 500;
}
button {
  font-weight: 600;
}
a {
  font-weight: 500;
}
input, textarea, select {
  font-weight: 400;
}

.header-collapse {
  display: inline-block;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.centered {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.use-times {
  color: $text-dark;
}

.item-price {
  color: $text-dark;
}