@import 'variables.scss';

/////////////////////////////////////////////////////
// MOBILE
/////////////////////////////////////////////////////

@media screen and (max-width: 799px) {
  .narrow-list {
    width: 100%;
    margin: 0 auto 3vw;
    padding: 0;
    box-sizing: border-box;
    li {
      width: 100%;
      display: inline-block;
      margin: 0;
      padding: 6vw 0;
      text-align: center;
      h3 {
        padding: 0;
      }
    }
  }
  .text-list-item {
    span {
      margin-top: 3vw;
    }
    button {
      margin-top: 2vw;
    }
  }

  ul.wide-list {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    li {
      padding: 3vw;
      margin: 2vw 0;
      h3 {
        padding: 0;
        margin: 0;
      }
    }    
  }

  .item-item {
    margin-right: 2vw;
  }
}

/////////////////////////////////////////////////////
// DESKTOP
/////////////////////////////////////////////////////

@media screen and (min-width: 800px) {
  .narrow-list {
    width: 100%;
    margin: 0 auto 15px;
    padding: 0;
    li {
      width: 32%;
      display: inline-block;
      margin: 0 5px 0 0;
      padding: 30px 0;
      text-align: center;
      h3 {
        padding: 0;
      }
    }
  }
  .text-list-item {
    span {
      margin-top: 14px;
    }
    button {
      margin-top: 6px;
    }
  }

  ul.wide-list {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    li {
      padding: 12px;
      margin: 10px 0;
      h3 {
        padding: 0;
        margin: 0;
      }
    }
    .onerow-item {
      margin: 8px 0 0 0;
    }
  }

  .item-item {
    margin-right: 25px;
  }
}

/////////////////////////////////////////////////////
// ALL
/////////////////////////////////////////////////////

ul {
  list-style-type: none;
}

.item-expiration {
  color: $blue;
}

ul.wide-list {
  li {
    background: $container-color;
    border-radius: 5px;
    border: 1px solid $border;
    .item-row {
      width: 100%;
      display: inline-block;
      margin: 0;
    }
  }
}

.narrow-list {
  li {
    background: $container-color;
    border-radius: 5px;
    border: 1px solid $border;
  }
}
.special-course-item {
  &:hover {
    background: $lightblue;
    cursor: pointer;
  }
}