@import 'variables.scss';

/////////////////////////////////////////////////////
// MOBILE
/////////////////////////////////////////////////////

@media screen and (max-width: 799px) {
  .logo-container {
    margin: 0 auto 4vw;
    padding: 10vw 0;
    width: 80%;
    .upper-text {
      font-size: 10vw;
    }
    .lower-text {
      font-size: 13vw;
      margin: 0 0 0 7vw;
      letter-spacing: 8vw;
    }
  }

  .ticket-logo {
    margin: 4vw 2vw 4vw 0;
    width: 16vw;
    img {
      padding: 3vw;
    }
    .ticket-amnt {
      padding: 1vw 0;
    }
  }
}

/////////////////////////////////////////////////////
// DESKTOP
/////////////////////////////////////////////////////

@media screen and (min-width: 800px) {
  .logo-container {
    margin: 0 auto 10px;
    padding: 35px 0;
    width: 250px;
    .upper-text {
      font-size: 30px;
    }
    .lower-text {
      font-size: 40px;
      margin: 0 0 0 21px;
      letter-spacing: 24px;
    }
  }

  .ticket-logo {
    margin: 20px 12px 20px 0;
    width: 50px;
    img {
      padding: 10px;
    }
    .ticket-amnt {
      padding: 4px 0;
    }
  }
}

/////////////////////////////////////////////////////
// ALL
/////////////////////////////////////////////////////

  .logo-container {
    border: 1px solid $text-dark;
    box-sizing: border-box;
    border-radius: $logo-radius;
    background-color: $container-color;
    .upper-text {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 auto;
      padding: 0;
      color: $text-fade;
    }
    .lower-text {
      display: inline-block;
      text-transform: uppercase;
      padding: 0;
    }
  }

  .ticket-logo {
    display: inline-block;
    box-sizing: border-box;
    img {
      display: block;
      margin: 0 auto;
    }
    .ticket-amnt {
      margin: 0;
      border-top: 1px solid $border;
      display: block;
      text-align: center;
      border-bottom-left-radius: $container-radius;
      border-bottom-right-radius: $container-radius; 
    }
  }