@import 'variables.scss';

/////////////////////////////////////////////////////
// MOBILE
/////////////////////////////////////////////////////

@media screen and (max-width: 799px) {

}

/////////////////////////////////////////////////////
// DESKTOP
/////////////////////////////////////////////////////

@media screen and (min-width: 800px) {
  .logo-container {
    border: 1px solid border;
    box-sizing: border-box;
    upper-text {
      font-size: 30px;
    }
    lower-text {
      font-size: 40px;
      font-weight: 700;
    }
  }
}

/////////////////////////////////////////////////////
// ALL
/////////////////////////////////////////////////////

