@import 'variables.scss';

/////////////////////////////////////////////////////
// MOBILE
/////////////////////////////////////////////////////

@media screen and (max-width: 799px) {
  table {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    tr {
      vertical-align: text-top;
      margin: 0 auto 5vw;
      width: 100%;
      display: inline-block;
      th, td {
        width: 100%;
        display: block;
      }
      td {      
        padding: 2vw 0;
        h3 {
          margin: 0;
          padding: 0;
          font-size: 4.1vw;
        }
        p {
          margin: 0;
          padding: 0;
          font-size: 4.1vw;
        }      
      }    
    }
  }
}

/////////////////////////////////////////////////////
// DESKTOP
/////////////////////////////////////////////////////

@media screen and (min-width: 800px) {
  table {
    margin: 0 auto;
    padding: 0;
    tr {
      vertical-align: text-top;
      margin: 0 5px 20px;
      width: 23%;
      display: inline-block;    
      th, td {
        width: 100%;
        display: block;
      }
      td {      
        padding: 5px 0;
        h3 {
          margin: 0;
          padding: 0;
          font-size: 15px;
        }
        p {
          margin: 0;
          padding: 0;
          font-size: 13px;
        }      
      }    
    }
  }
}

/////////////////////////////////////////////////////
// ALL
/////////////////////////////////////////////////////

table {
  tr {
    background: $white;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 1px 4px $shadow;  
    td {
      padding: 12px 0;
      border-top: 1px solid $border;
      transition: background 0.1s;
      box-sizing: border-box;
      .table-course {
        color: $text-fade;
      }
      .table-time {
        color: $text-dark;
      }
      &:hover {
        background: $lightblue;
        cursor: pointer;
      }
    }
    th {
      background: $lightgray;
      border: none;
      box-sizing: border-box;
      font-weight: 500;
      color: $text-dark;
    }
  }
}