$body-color: #fff;
$container-color: #f7f7f8;
$shadow-light: #eaeaea;

$fadeout-text: #999;

$button-text: #fff;
$button-norm: #00ddff;
$button-norm-shdw: #ccc;
$button-hover: #00ccee;
$button-hover-shdw: #ddd;
$button-active: #00aacc;
$button-active-shdw: #bbb;

$text-link-norm: #001155;
$text-link-hover: #3377cc;
$text-link-active: #66aaff;

$use-times: $button-active;

$table-header: #f3f3f3;
$list-item: #fff;
$list-item-hover: #aaeeff;
$item-shdw: #eaeaeb;
$price: $button-active;
$item-border: #ddd;
