$body-color: #fcfdfe;
$container-color: #fff;
$border: #ddd;
$shadow: #bbbbbf;
$text-light: #fafafa;
$text-dark: #454552;
$text-fade: #6d819c;
$lightgray: #f6f7f8;
$lightblue: #a5dff9;
$lighterblue: #5fb2e4;
$blue: #4ea1d3;
$red: #e85a71;
$green: #55967e;
$white: #fefeff;
$hover-btn: #787885;
$active-btn: #454552;
$hover-item: #5fb2e4;
$active-item: #4ea1d3;
$link: #3d90c2;
$link-hover: #4ea1d3;
$link-active: #5fb2e4;
